@keyframes bounce-out {
    0% {
	    transform: scale(1.3);
    }
    25% {
        transform: scale(0.95);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
body {
    background-color: #000;
	background: linear-gradient(350deg,rgba(0, 255, 128, 1) 0%, rgba(107, 255, 176, 1) 50%, rgba(0, 255, 128, 1) 100%);
    font-family: Arial, sans-serif;
    margin: 0;
	text-shadow: 1px 1px #000a
}
code {
	display: block;
	background: rgb(64, 64, 64);
}

h1, h2, h3, h4, h5, h6, p, span, b, pre {
    color: rgb(255, 255, 255);
}
a {
    color: rgb(0, 255, 127);
}
button, select, input:not([type="file"]), input[type='file']::file-selector-button {
	background-image: linear-gradient(#0f8);
	color: #000;
	border-radius: 8px;
	border: none;
	box-shadow: 0px 0px 14px #0008;
	margin: 3px;
	padding: 3px;
	outline: 3px auto #000;
	transition-behavior: all;
	transition-duration: 45ms;
	transition-timing-function:ease-out
}
input[type="radio"], input[type="checkbox"], input[type="range"], progress {
	accent-color: #0a6
}
input:not([type="file"]):hover, input[type='file']::file-selector-button:hover, button:hover, select:hover {
	background-image: linear-gradient(#0e8);
	color: #fff;
	font-size: 105%;
	box-shadow: none;
	font-weight: bolder;
}
input[type='checkbox']:hover {
	transform: scale(1.3);
	display: inline-block;
}
input[type='checkbox']:active {
	transform: scale(1.25);
}
input[type='color'] {
	width: 48px;
	height: 24px;
}
input[type='color']:hover {
	width: 64px;
	height: 32px;
}
input[id='chat-input'] {
	transition: font-weight 25ms ease-in-out,
		color 25ms ease-in-out,
		transform 25ms ease-in-out,
}
input[id='chat-input']:hover {
	background-color: #fff;
	transform: scale(1.025);
	border-radius: 0%;
}
input[id='chat-input']::placeholder {
	color: #fff
}
option {
	background-color: #0f8;
	font-weight: normal;
	font-size: 15px;
	color: #000
}
ul.bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-image: linear-gradient(-90deg,#0000,#2228 75%, #222b);
    position: fixed;
    height: 100%;
    overflow: auto;
}
li a {
    display: block;
    color: #fff;
    padding: 8px 16px;
	text-decoration: none;
}
li a:hover {
    background-image: linear-gradient(90deg,#0000,#2227 75%, #222a);
}
.active:not(li a:hover) {
    background-image: linear-gradient(90deg,#0000,#0008 75%, #000b);
}
#chat {
	position: fixed;
	bottom: 0px;
	left: 25%;
	width: 75%;
	vertical-align: bottom;
	font-size: 13px;
	color: #fff;
}
#chat,#chat * {
    user-select: text;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
}
#chat ul {
	list-style: none;
	margin: 16px;
	background-attachment: local;
	max-height: 50em;
	overflow-y: scroll;
	overflow-x: hidden;
	word-wrap: break-word;
	background-color: #2648;
	box-shadow: 0px 0px 10px #042;
	border-radius: 10px;
}
#chat li {
	padding: 2px;
	opacity: 0;
	color: #fff;
}
#chat input {
	margin: 4px;
	width: 97%;
	border: 1px solid #fff;
	background: #084a;
	text-shadow: #888 1px 1px;
	float: right;
	color: #fff;
	border-radius: 8px;
}
/*
#embed-window {
	position: absolute;
	border: 1px solid #fff;
	background: #000;
	display: none;
	resize: both;
	overflow: auto;
	z-index: 1000;
	max-height: 90vh;
	max-width: 90vw;
};
#embed-data {
	display: block;
	max-width: 100%;
	max-height: calc(100% - 40px);
	object-fit: contain;
};
#embed-header {
	background: #222;
	color: #fff;
	padding: 10px;
	cursor: move;
	display: flex;
	justify-content: space-between;
	align-items: center;
};
*/
