:root {
  --text: rgb(235, 233, 252);
  --background: rgb(23, 9, 24);
  --background-bright: rgb(46, 18, 48);
  --background2: rgb(54, 43, 6);
  --primary: rgb(219, 173, 25);
  --primary-dark: rgb(109, 86, 12);
  --secondary: rgb(146, 9, 98);
  --secondary-dark: rgb(73, 4, 39);
  --accent: rgb(133, 176, 119);
}

body {
  background-color: var(--background);
  background-image: linear-gradient(120deg, var(--background), var(--background-bright) 60%, var(--secondary));
  font-family: Arial, sans-serif;
  margin: 0;
}
code {
  display: block;
  background: rgb(64, 64, 64);
}
h1, h2, h3, h4, h5, h6, p, span, b, pre {
  color: var(--text);
}
a {
  color: var(--accent);
}
button, input, select {
  appearance: none;
  color: var(--text);
  background-color: var(--secondary);
  border-radius: 0.3em;
  border: none;
}

input[type=checkbox] {
	width: 1em;
  height: 1em;
	margin: 0 0.3em;
	border: 0.1em solid var(--accent);
}

input[type=checkbox]:checked {
	background-color: var(--primary);
}

input[type=checkbox]:not(:checked) {
	background-color: var(--secondary);
}

#server-list, #channel-list, #chat-toggle {
  color: var(--background);
  background-color: var(--primary);
}

input[type=file]::file-selector-button {
  appearance: none;
  background-color: var(--accent);
  color: var(--background);
  border-radius: 0.3em;
  border: none;
}

ul.bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: var(--background2);
  background-image: linear-gradient(220deg, var(--background2), var(--background2) 20%, var(--primary-dark));
  position: fixed;
  height: 100%;
  overflow: auto;
}
li a {
  display: block;
  color: var(--text);
  padding: 8px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: var(--accent);
  color: var(--background);
}
.active {
  background-color: var(--primary);
  color: var(--background);
}
#chat {
  position: fixed;
  bottom: 0px;
  left: 25%;
  width: 75%;
  vertical-align: bottom;
  font-size: 13px;
  color: var(--text);
  text-shadow: #888 1px 1px;
}
#chat,#chat * {
  user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
}
#chat ul {
  list-style: none;
  margin: 4px
  padding: 0;
  background-attachment: local;
  max-height: 50em;
  overflow-y: scroll;
  overflow-x: hidden;
  word-wrap: break-word;
}
#chat li {
  padding: 2px;
  opacity: 0;
  color: #fff;
}
#chat input {
  margin: 4px;
  width: 97%;
  border: 2px solid var(--primary);
  background: 0 0;
  text-shadow: #888 1px 1px;
  float: right;
  color: var(--text);
  border-radius: 8px
}
#chat input:focus {
  outline: 0;
  border: 2px solid var(--accent);
}
